<div class="content-wrapper"
    style="background: url(assets/images/QQ-Logo-Light.jpg) no-repeat center center fixed;background-size: 100% 100%;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="layout/welcome"><i class="fa fa-home"></i>Welcome</a></li>
            <li><a href="layout/user-profile"><i class="fa fa-user"></i>user-profile</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!--/.col (left) -->
        <!-- right column -->


        <div class="row">
            <div class="col-md-12">
                <div *ngIf="showSearch" id="userprofileedit" class="panel-collapse collapse in show">
                    <app-user-profile-edit (itemFound)="hideSearch($event)">
                    </app-user-profile-edit>
                </div>
                <div *ngIf="!showSearch" id="resetpassword" class="panel-collapse collapse in show">
                    <app-reset-password
                    [resetpasswordId]="resetpasswordId"
                    ></app-reset-password>
                  </div>
            </div>
        </div>
    </section>
</div>
