
<div class="card shadow-sm border-0">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
       class="pointer card-header  bg-white" id="headingOne">
    <h3><span style="color: darkmagenta"><b>JobTransaction Search</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
      <form [formGroup]="jobTransactionSearchForm" (ngSubmit)="submitJobTransactionForm(jobTransactionSearchForm.value)">
        <div class="row">


          <div class="col-md-4 form-group required-field">
            <label for="reportFromDate"> From Date</label>
            <input type="text" class="form-control" placeholder="From Date" id=reportFromDate bsDatepicker
                   formControlName="reportFromDate" [bsConfig]="globals.dateConfig" required>
          </div>

          <div class="col-md-4 form-group required-field">
            <label for="reportToDate">To Date</label>
            <input type="text" class="form-control" placeholder="To Date" id=reportToDate bsDatepicker
                   formControlName="reportToDate" [bsConfig]="globals.dateConfig" required>
          </div>

          <div class="col-md-4 form-group ">
            <label>Select Product</label>
            <angular2-multiselect [data]="dropProductMasterList" [(ngModel)]="productMasterId"
                                  [ngModelOptions]="{standalone: true}" [settings]="productDropdownSettings"
                                  (onDeSelect)="OnItemDeSelectProduct($event)">
            </angular2-multiselect>
          </div>
          <div class="col-md-12 form-group">
            <input type="submit" class="btn btn-success m-2" value="Search">
<!--            <input type="button" class="btn btn-primary m-2" value="Add JobTransaction" (click)="onAddJobTransaction()">-->
            <input type="button" class="btn btn-danger m-2" value="Clear" (click)="jobTransactionSearchForm.reset()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf=showSearchResult>
  <h3 class="mt-3"><span style="color: darkmagenta"><b>Results</b></span></h3>
  <div class="box">
    <div class="table-responsive box-body">
      <table class="table1 table1-bordered table1-striped">
        <thead>
        <tr>
          <th>S.No</th>
          <th>View/Edit</th>
          <th>User</th>
          <th>Product</th>
          <th>Bar Code</th>
          <th>Desk</th>
          <th>In Time</th>
          <th>Job Type</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of searchResult;  let i = index">
        <tr>
          <td>{{i + 1}}</td>
          <td>
            <button style="letter-spacing: 1px;" (click)="onViewJobTransaction(item)" class="btn btn-sm btn-warning"><i
                    class="fa fa-eye"></i> / <i class="fa fa-pencil"></i></button>
          </td>
          <td>{{item.user}}</td>
          <td>{{item.product}}</td>
          <td>{{item.barCode}}</td>
          <td>{{item.desk}}</td>
          <td>{{item.inTime| date: 'dd/MM/yyyy hh:mm:ss'}}</td>
          <td>{{item.jobType}}</td>
          <td>{{item.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
