<form [formGroup]="resetPasswordForm" (ngSubmit)="checkPwd(resetPasswordForm.value)">

  <div class="row">
    <div class="col-md-3 required-field">
      <div class="form-group">
        <label for=currentPwd>Old Password</label>
        <input type="text" maxlength="80" id=currentPwd formControlName="currentPwd" placeholder="Old Password"
          class="form-control form-control-sm" required>
        <div *ngIf="resetPasswordForm.controls['currentPwd'].errors && resetPasswordForm.controls['currentPwd'].touched"
          class="invalid-input">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 required-field">
      <div class="form-group">
        <label for=newPwd>New Password</label>
        <input type="password" maxlength="80" id=newPwd formControlName="newPwd" placeholder="New Password"
          class="form-control form-control-sm" minlength="6" maxlength="12" required>
        <div *ngIf="resetPasswordForm.controls['newPwd'].errors && resetPasswordForm.controls['newPwd'].touched"
          class="invalid-input">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 required-field">
      <div class="form-group">
        <label for=confirmpwd>Confirm Password</label>
        <input type="password" maxlength="80" id=confirmpwd formControlName="confirmpwd" placeholder="Confirm Password"
          class="form-control form-control-sm" minlength="6" maxlength="12" required>
        <div *ngIf="resetPasswordForm.controls['confirmpwd'].errors && resetPasswordForm.controls['confirmpwd'].touched"
          class="invalid-input">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    &nbsp;
    <p>The new passsword must contains atleast 6 Letters</p>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="form-group">
        <input type="submit" class="btn btn-primary customBtn" value="Submit" [disabled]="!resetPasswordForm.valid">
      </div>
    </div>
  </div>
</form>
