<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{img}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{userName | uppercase}}</p>
        <!-- Status -->
        <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <li><a [routerLink]="['/layout/welcome']" ><i class="fa fa-home"></i> <span>Welcome</span></a></li>

      <li *ngIf="checkRole('AllMaster')" class="treeview">
        <a href="#"><i class="fa fa-cogs"></i> <span>All Master </span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>

        <ul class="treeview-menu">
          <li *ngIf="checkRole('ProductMaster')"><a  [routerLink]="['/layout/productMaster']">Product</a></li>
          <li *ngIf="checkRole('Codes')"><a [routerLink]="['/layout/mastercategory']" >Master Category</a></li>
          <li *ngIf="checkRole('Desk')"><a [routerLink]="['/layout/desk']" >Desk</a></li>
          <li *ngIf="checkRole('JobTransaction')"><a  [routerLink]="['/layout/jobTransaction']">Job Transaction</a>
          <li *ngIf="checkRole('user')"><a [routerLink]="['/layout/user']">User</a></li>

        </ul>
      </li>

      <li *ngIf="checkRole('InventoryMaster')" class="treeview">
        <a href="#"><i class="fa fa-diamond "></i> <span> Inventory Master </span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngIf="checkRole('BarCode')"><a [routerLink]="['/layout/barcode']" >BarCode Generate</a></li>
          <li *ngIf="checkRole('ProductDetail')"><a [routerLink]="['/layout/productdetails']" >Update Inventory Status</a></li>
        </ul>
      </li>

      <li *ngIf="checkRole('Reports')" class="treeview">
      <a href="#"><i class="fa fa-line-chart"></i> <span>Reports</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
      <ul class="treeview-menu">
        <li *ngIf="checkRole('Reports')"><a  [routerLink]="['/layout/productMasterReport', 'productMaster']">Product Master Report</a></li>
        <li *ngIf="checkRole('Reports')"><a  [routerLink]="['/layout/productDetailReport', 'productDetail']">Product Detail Report</a></li>
        <li *ngIf="checkRole('Reports')"><a  [routerLink]="['/layout/inventoryTransactionsReport', 'inventoryTransactions']">Transaction Report</a></li>
        <li *ngIf="checkRole('Reports')"><a  [routerLink]="['/layout/deskReport', 'deskReport']">Desk Report</a></li>
      </ul>
    </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
