.btn-primary {
    margin-right: 5px;
}
/* label {
    color: #9b9b9b;
    font-weight: 400;
    content: "*";
    color: red;
    
  } */
div.invalid-input{
    /* color: #9b9b9b; */
    font-weight: 200;
    font-size: 10px;
    color: red;
}
div.required-field label::after { 
    content: "*";
    color: red;
}

.leading {
    padding-bottom :  10px;
}

.btn-bs-file{
    position:relative;
    }
    .btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
    }