<form [formGroup]="userProfileForm" (ngSubmit)="submitUserProfileForm(userProfileForm.value )">

    <div class="row">
      <div class="col-md-3 required-field">
        <div class="form-group">
          <a>
            <img src="assets/img/{{userName | lowercase}}.jpg" class="user-image" alt="User Image"
                 style="width:200px;height:200px;">
          </a>
        </div>
      </div>

        <div class="col-md-3 required-field">
            <div class="form-group">
                <label for=firstName>FirstName</label>
                <input type="text" id=firstName maxlength="80" formControlName="firstName" placeholder="First Name"
                    class="form-control form-control-sm" required>
                <div *ngIf="userProfileForm.controls['firstName'].errors && userProfileForm.controls['firstName'].touched"
                    class="invalid-input">
                </div>
            </div>
        </div>

        <div class="col-md-3 required-field">
            <div class="form-group">
                <label for=lastName>LastName</label>
                <input type="text" maxlength="80" id=lastName formControlName="lastName" placeholder="Last Name"
                    class="form-control form-control-sm" required>
                <div *ngIf="userProfileForm.controls['lastName'].errors && userProfileForm.controls['lastName'].touched"
                    class="invalid-input">
                </div>
            </div>
        </div>

      <div class="col-md-3 required-field">
        <div class="form-group">
          <label for=userName>UserName</label>
          <input type="text" maxlength="80" id=userName formControlName="userName" placeholder="User Name"
                 class="form-control form-control-sm" required>
          <div *ngIf="userProfileForm.controls['userName'].errors && userProfileForm.controls['userName'].touched"
               class="invalid-input">

          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="form-group">
                    <input type="button" class="btn btn-primary customBtn" value="Reset Password"
                        (click)="changePasswrd()">
                </div>
        </div>
        </div>
</form>
