<div class="content-wrapper">
  <section class="content-header">
    <h1>
      User
    </h1>
    <ol class="breadcrumb">
      <li><a href="layout/welcome"><i class="fa fa-home"></i>Welcome</a></li>
      <li><a href="layout/user"><i class="fa fa-cogs"></i>User</a></li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="showSearch" id="userSearch" class="panel-collapse collapse in show">
          <app-user-search (itemFound)="hideSearch($event)">
          </app-user-search>
        </div>
        <div *ngIf="!showSearch" id="userEdit" class="panel-collapse collapse in show">
          <app-user-edit [userId]="userId">
          </app-user-edit>
        </div>
      </div>
    </div>
  </section>
</div>
