.true {
  background-color: #00a65a !important;
}
.true {
  color: #fff !important;
}
.false {
  background-color: #ff9800 !important;
}
.false {
  color: #fff !important;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

