
<div class="card shadow-sm border-0">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
       class="pointer card-header  bg-white" id="headingOne">
    <h3><span style="color: darkmagenta"><b>Product Search</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
      <form [formGroup]="ProductMasterSearchForm" (ngSubmit)="submitProductMasterForm(ProductMasterSearchForm.value)">
        <div class="row">
          <div class="col-md-3 form-group">
            <label for=name>Product Name</label>
            <input type="text" formControlName="name" id=name placeholder="Enter Product Name"
                   class="form-control form-control-sm" maxlength=100>
          </div>


          <div class="col-md-12 form-group">
            <input type="submit" class="btn btn-success m-2" value="Search">
            <input type="button" class="btn btn-primary m-2" value="Add Product" (click)="onAddProductMaster()">
            <input type="button" class="btn btn-danger m-2" value="Clear" (click)="ProductMasterSearchForm.reset()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf=showSearchResult>
  <h3 class="mt-3"><span style="color: darkmagenta"><b>Results</b></span></h3>
  <div class="box">
    <div class="table-responsive box-body">
      <table class="table1 table1-bordered table1-striped">
        <thead>
        <tr>
          <th>S.No</th>
          <th>View/Edit</th>
          <th>Product Name</th>
          <th>Barcode Numbers</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of searchResult;  let i = index">
        <tr>
          <td>{{i + 1}}</td>
          <td>
            <button style="letter-spacing: 1px;" (click)="onViewProductMaster(item.id)" class="btn btn-sm btn-warning"><i
                    class="fa fa-eye"></i> / <i class="fa fa-pencil"></i></button>
          </td>
          <td>{{item.name}}</td>
          <td>{{item.barCodeChar}}</td>
          <td *ngIf='item.status === "true"'><span class="label {{item.status}}">Active</span></td>
          <td *ngIf='item.status === "false"'><span class="label {{item.status}}">In Active</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
