
<div class="card shadow-sm border-0">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
    class="pointer card-header  bg-white" id="headingOne">
    <h3><span style="color: darkmagenta"><b>Master Category Search</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
  <div class="card-body">

      <form [formGroup]="masterCategorySearchForm"
        (ngSubmit)="submitMasterCategoryForm(masterCategorySearchForm.value)">
        <div class="row mb-2">
          <div class="col-md-6 required-field">
            <label for=Category></label>
            <input type="text" formControlName="category" id=category placeholder="Category"
              class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()">
          </div>
          <div class="col-md-6 form-group required-field">
            <label for=picklist>Picklist Y/N</label>
            <input type="text" formControlName="picklist" id=picklist list="dynmicUserIds" placeholder="Picklist (Y/N)"  maxlength="1"  (change)="onChangePicklist()"
              class="form-control form-control-sm" required>
              <datalist id="dynmicUserIds">
                <option *ngFor="let item of sampleList" [value]="item">{{item}}</option>
              </datalist>
          </div>
          <div class="col-md-8 form-group">
            <input type="submit" class="btn btn-success customBtn m-2" value="Search">
            <input type="button" class="btn btn-danger customBtn m-2" value="Clear"
              (click)="masterCategorySearchForm.reset()">
            <input type="button" class="btn btn-warning customBtn m-2" value="Refresh" (click)="ChangeRefresh()">
            <input type="button" class="btn btn-primary customBtn m-2" value="Add Master Category"
              (click)="onAddMasterCategory()">
              <input type="checkbox" class="m-2" data-md-icheck (change)="toggleVisibility($event)" />
              Exact Match <span *ngIf="exactMatch">ON</span><span *ngIf="!exactMatch">OFF</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  <div *ngIf=showSearchResult>
    <h3 class="mt-3"><span style="color: darkmagenta"><b>Results</b></span></h3>
    <div class="box">
      <div class="table-responsive box-body">
        <table class="table1 table1-bordered table1-striped">
          <thead>
            <tr>
                <th>S.No</th>
              <th>View/Edit</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of searchResult;  let i = index">
            <tr>
                <td>{{i + 1}}</td>
              <td>
                <button style="letter-spacing: 1px;" (click)="onViewMasterCategory(item.id)" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i>
                  / <i class="fa fa-pencil"></i></button>
              </td>
              <td>{{item.category}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
