<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Barcode Generate
    </h1>
    <ol class="breadcrumb">
      <li><a href="layout/welcome"><i class="fa fa-home"></i>Welcome</a></li>
    </ol>
  </section>


  <section class="content">
    <form [formGroup]="barcodeGenerateForm" (ngSubmit)="submitBarcodeGenerateForm(barcodeGenerateForm.value)">
      <div class="row">
        <div class="col-md-3 form-group required-field">
          <label for="productMasterId">Select Product</label>
          <select class="form-control" id="productMasterId" formControlName="productMasterId" (change)="onChangeProduct($event.target['value'])" required>
            <option value=null disabled selected>Select Product</option>
            <option *ngFor="let product of productMasterLists" [value]="product.key">
              {{product.value}}
            </option>
          </select>
        </div>
        <div *ngIf="barCodeChar" class="col-md-3 required-field">
          <label for="seriesNo">Bar Code begin Number</label>
          <input maxlength="50" type="text" id=seriesNo formControlName="seriesNo" placeholder="Enter Bar Code begin Number"
                 class="form-control form-control-sm" required disabled>
        </div>
        <div class="col-md-3 required-field">
          <label for="fromNumber">Generate barcode from series</label>
          <input type="number" id=fromNumber formControlName="fromNumber" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;" placeholder="Enter Generate barcode from series"
                 class="form-control form-control-sm" required disabled>
        </div>
        <div class="col-md-3 form-group required-field">
          <label for="noOfLables">Number of barcodes to generate</label>
          <input type="number" class="form-control  form-control-sm" id=noOfLables onKeyDown="if(this.value.length==2 && event.keyCode!=8) return false;" placeholder="Enter Number of barcodes to generate"
                 formControlName="noOfLables" required>
        </div>
        <div class="col-md-12 text-center">
          <div class="form-group">
            <input type="submit" class="btn btn-success" value="Generate" [disabled]="!barcodeGenerateForm.valid">
            &nbsp;&nbsp;
            <input type="button" class="btn btn-danger" (click)="barcodeGenerateForm.reset()" value="Cancel">
          </div>
        </div>
      </div>
    </form>
    <div *ngIf=showProductDetailsResult>
      <h3 class="mt-3"><span style="color: darkmagenta"><b>Results</b></span></h3>
      <div class="box">
        <div class="table-responsive box-body">
          <table class="table1 table1-bordered table1-striped">
            <thead>
            <tr>
              <th>Sl.No</th>
              <th>Barcode from series</th>
              <th>Barcode To series</th>
              <th>Barcode Count</th>
              <th>Generated On</th>
              <th>Re Generate</th>
            </tr>
            </thead>
            <tbody *ngFor="let item of productBarcodeDetails; let i = index">
            <tr>
              <td>{{i + 1}}</td>
              <td>{{item.startCode}}</td>
              <td>{{item.endCode}}</td>
              <td>{{item.noOfLables}}</td>
              <td>{{item.generatedDate | date}}</td>
                            <td>
                              <button style="letter-spacing: 1px;" (click)="reGenrateBarCode(item.startCode, item.fromNumber, item.noOfLables)" class="btn btn-sm btn-warning"><i
                                      class="fa fa-download"></i> Re-Generate</button>
                            </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

</div>



