<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Transactions
    </h1>
    <ol class="breadcrumb">
      <li><a href="layout/welcome"><i class="fa fa-home"></i>Welcome</a></li>
      <li><a href="layout/jobTransaction"><i class="fa fa-cogs"></i>Transactions</a></li>
    </ol>
  </section>
  <section class="content">
    <div *ngIf="showSearch" id="jobTransactionSearch" class="panel-collapse collapse in show">
      <app-jobtransaction-search (itemFound)="hideSearch($event)">
      </app-jobtransaction-search>
    </div>
    <div *ngIf="!showSearch" id="machineEdit" class="panel-collapse collapse in show">
      <app-jobtransaction-edit [jobTransactionId]="jobTransactionId">
      </app-jobtransaction-edit>
    </div>
  </section>
</div>
