<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Desk Master
    </h1>
    <ol class="breadcrumb">
      <li><a href="layout/welcome"><i class="fa fa-home"></i>Welcome</a></li>
      <li><a href="layout/desk"><i class="fa fa-cogs"></i>Desk</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="showSearch" id="deskSearch" class="panel-collapse collapse in show">
          <app-desk-search (itemFound)="hideSearch($event)">
          </app-desk-search>
        </div>
        <div *ngIf="!showSearch" id="deskEdit" class="panel-collapse collapse in show">
          <app-desk-edit [deskId]="deskId">
          </app-desk-edit>
        </div>
      </div>
    </div>
  </section>
</div>
