<div class="login-page" style="background-color: transparent;">

<div *ngIf="showForm" class="card login-card  shadow-sm">
  <div class="card-img text-center">
    <h1>KISNA</h1>
  </div>
  <div class="card-body">
    <form *ngIf=!showDeskDropDown class="mt-3" role="form" (ngSubmit)="onLoggedin()">
      <div *ngIf="showError" class="alert text-left" style="background-color:#f8d7da;color:#721c24" role="alert">{{errMsg}}</div>
      <div class="form-grop mb-2">
        <div class="row m-0">
          <label class="col-sm-2 text-body text-left" for="inputPassword1">Username</label>
          <div class="col-sm-10">
            <input type="text" name="userName" [(ngModel)]="userName" class="form-control" id="inputPassword1" placeholder="Enter Username">
          </div>
        </div>
      </div>
      <div class="form-grop mb-2">
        <div class="row m-0">
          <label class="col-sm-2 text-body text-left" for="inputPassword2">Password</label>
          <div class="col-sm-10">
            <input type="password" name="pass" [(ngModel)]="pass" class="form-control" id="inputPassword2" placeholder="Enter Password">
          </div>
        </div>
      </div>
      <button type="submit" class="mb-2 mt-3 login-btn">Login</button>
    </form>
  </div>
</div>
</div>
