<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Welcome to {{applicationDisplayName}}
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i> Welcome</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
      <div  *ngIf="showDashBoard" class="row">
        <div  class="col-xl-3 col-sm-6 py-2">
            <div class="card cib-hover bg-warning shadow-sm border-0 text-white h-100">
                <div class="card-header card-header-icon">
                    <div class="card-icon cib-red">
                      <i class="fa fa-paperclip fa-4x"></i>
                    </div>
                </div>
                <div class="card-body bg-warning">
                    <h4 class="text-uppercase text-black">Total Inventory</h4>
                    <h1 class="display-3 text-black">{{poTotal}}</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 py-2">
          <div class="card cib-hover bg-info shadow-sm border-0 text-white h-100">
              <div class="card-header card-header-icon">
                  <div class="card-icon cib-yellow">
                    <i class="fa fa-product-hunt fa-4x"></i>
                  </div>
              </div>
              <div class="card-body bg-info">
                  <h4 class="text-uppercase">Approved / Rejected</h4>
                  <h1 class="display-3">{{partTotal}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{parentPartCount}}</h1>
              </div>
          </div>
      </div>
      </div>
    <div>
    </div>

  </section>
  <!-- /.content -->
</div>
