
<div class="card shadow-sm border-0">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
       class="pointer card-header  bg-white" id="headingOne">
    <h3><span style="color: darkmagenta"><b>{{ title }} JobTransaction</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
      <form [formGroup]="jobTransactionEditForm" (ngSubmit)="submitJobTransactionForm(jobTransactionEditForm.value)">
        <div class="row">
          <div class="col-md-4 form-group required-field">
            <label>Select Product</label>
            <angular2-multiselect [data]="dropProductList" [(ngModel)]="selectedProductId" required
                                  [ngModelOptions]="{standalone: true}" [settings]="productDropdownSettings"
                                  (onDeSelect)="OnItemDeSelectProduct($event)">
            </angular2-multiselect>
          </div>

          <div class="col-md-4 form-group required-field">
            <label>Select User</label>
            <angular2-multiselect [data]="dropUserList" [(ngModel)]="selectedUserId" required
                                  [ngModelOptions]="{standalone: true}" [settings]="userDropdownSettings"
                                  (onDeSelect)="OnItemDeSelectUser($event)">
            </angular2-multiselect>
          </div>


          <div class="col-md-4 form-group required-field ">
            <label>Select Desk</label>
            <angular2-multiselect [data]="dropDeskList" [(ngModel)]="selectedDeskId" required
                                  [ngModelOptions]="{standalone: true}" [settings]="deskDropdownSettings"
                                  (onDeSelect)="OnItemDeSelectDesk($event)">
            </angular2-multiselect>
          </div>

          <div class="col-md-4 required-field form-group">
            <label for="inTime">Select In Time</label><br />
            <input class="form-control"  [(ngModel)]="inTime" [ngModelOptions]="{standalone: true}" ng2-datetime-picker id="inTime"
                   date-format="DD-MM-YYYY hh:mm:ss"
                   [close-on-select]="false" >
          </div>

          <div class="col-md-4 required-field form-group">
            <label for="outTime">Select Out Time</label><br />

            <input  class="form-control" [(ngModel)]="outTime" [ngModelOptions]="{standalone: true}" ng2-datetime-picker id="outTime"
                    date-format="DD-MM-YYYY hh:mm:ss"
                    [close-on-select]="false" >
          </div>


          <div class="col-md-4 form-group required-field">
            <label for=jobType>Job Type</label>
            <input type="text" formControlName="jobType" id=jobType placeholder="Enter Job Type"
                   class="form-control form-control-sm" required maxlength="100">
          </div>
          <div class="col-md-4 form-group required-field">
            <label for=status>Status</label>
            <select class="form-control form-control-sm" formControlName="status" id=status required>
              <option value='null' disabled selected>Select Status</option>
              <option *ngFor="let active of statusValue | keyvalue" [value]="active.key">
                {{active.value}}
              </option>
            </select>
          </div>




        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <input type="submit" class="btn btn-success customBtn" id="submit" value="Submit"
                   [disabled]="!jobTransactionEditForm.valid">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
