.DTFC_LeftFootWrapper{display: none !important;}
.pointer{
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .appbody{
        top: 100px !important;
    }
}
html, body, app-root {
    height: 100% !important;width: 100% !important;margin: 0;padding: 0;
}
.appheader{
    height: 60px;
    max-height: 60px;
}
.logo, .navbar {
    height: 60px !important;
}
app-layout, .wrapper{
    min-height: 100% !important;width: 100%;
}
.content-wrapper{
    min-height: 100% !important;
}
.appbody{
    position: absolute;overflow-x: hidden;
    top: 45px;overflow-y: scroll;
    bottom: 0px;left: 0px;right: 0px;
}
.c-btn {
    font-size: 1rem !important;
}
canvas {
width: 100% !important;
height: 100% !important;
}
.login-btn{
    cursor: pointer;
    height: 35px;
    font-size: 14px;
    min-width: 100px;
    background-color: forestgreen;
    border: 0px;
    border-radius: 20px;
    color: #fff;outline: none;
}
.login-btn:focus{outline: none;}
.login-btn:active{
    border: 0px #fff;outline: none;background-color: darkgreen;
}
.login-card{
    max-width: 600px;border: 0px transparent;border-radius: 5px;overflow: hidden;
    top:50%;transform: translateY(-50%) translateX(-50%);left: 50%;
}
.card-img{
    height: 80px;width: 100%;
    text-align:left;
    background-image: url('../../assets/images/loginBanner.jpg');
}
.card-img > img {
    height: 90%;width: 50%;
}

.card-icon {
    transition: all .2s ease-in-out;
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
    position: relative;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
}
.cib-pink{
    background: linear-gradient(60deg,#ec407a,#d81b60);
}
.cib-red{
    background: linear-gradient(60deg,#ef5350,#e53935);
}
.cib-vilot{
    background: linear-gradient(60deg,#ab47bc,#8e24aa);
}
.cib-yellow{
    background: linear-gradient(60deg,#ffa726,#fb8c00);
}
.card-header-icon{
    border: none;background-color: unset;
}
.cib-hover:hover .card-icon{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

.list-area.single-select-mode > div:nth-child(3){
    height: 80px;
}
.sidebar-menu > li{
    font-size: 13px;
}
.DTFC_LeftHeadWrapper, .DTFC_LeftBodyWrapper,.DTFC_RightHeadWrapper, .DTFC_RightBodyWrapper{
    display: none;
}

.form-control{
    height: 34px;
}
.dataTables_scrollHead{
    border-radius: 3px 3px 0px 0px;
    background-color: goldenrod;
}
.dt-buttons{
    margin-bottom: 5px;
}

table::-webkit-scrollbar
{
	height:5px;
}
table::-webkit-scrollbar-track
{
	width:5px;
	border-radius: 10px;
	background-color:transparent;
}
table::-webkit-scrollbar-thumb
{
	background-color: red;
	border-radius:15px;
}
.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}
.h-100 {
    min-height: 140px!important;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.mycb:not(:checked),
.mycb:checked {
  position: absolute;
  left: -9999px;
}
.mycb:not(:checked) + .mycbl,
.mycb:checked + .mycbl {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.mycb:not(:checked) + .mycbl:before,
.mycb:checked + .mycbl:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.8em; height: 1.8em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.mycb:not(:checked) + .mycbl:after,
.mycb:checked + .mycbl:after {
  content: '\2713\0020';
  position: absolute;
  top: .2em; left: .3em;
  font-size: 1.6em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
.mycb:not(:checked) + .mycbl:after {
  opacity: 0;
  transform: scale(0);
}
.mycb:checked + .mycbl:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.mycb:disabled:not(:checked) + .mycbl:before,
.mycb:disabled:checked + .mycbl:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.mycb:disabled:checked + .mycbl:after {
  color: #999;
}
.mycb:disabled + .mycbl {
  color: #aaa;
}
.mycbl{user-select: none;}

.accounts_li{ cursor: pointer;}


.dataTables_scrollHeadInner{width: 100% !important;}
.table1 {
    width: 100% !important;
    margin-bottom: 1rem;
    color: #212529
}

.table1 td,
.table1 th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table1 thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

.table1 tbody+tbody {
    border-top: 2px solid #dee2e6
}

.table1-sm td,
.table1-sm th {
    padding: .3rem
}

.table1-bordered {
    border: 1px solid #dee2e6
}

.table1-bordered td,
.table1-bordered th {
    border: 1px solid #dee2e6
}

.table1-bordered thead td,
.table1-bordered thead th {
    border-bottom-width: 2px
}

.table1-borderless tbody+tbody,
.table1-borderless td,
.table1-borderless th,
.table1-borderless thead th {
    border: 0
}

.table1-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

.table1-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, .075)
}

.table1-primary,
.table1-primary>td,
.table1-primary>th {
    background-color: #b8daff
}

.table1-primary tbody+tbody,
.table1-primary td,
.table1-primary th,
.table1-primary thead th {
    border-color: #7abaff
}

.table1-hover .table1-primary:hover {
    background-color: #9fcdff
}

.table1-hover .table1-primary:hover>td,
.table1-hover .table1-primary:hover>th {
    background-color: #9fcdff
}

.table1-secondary,
.table1-secondary>td,
.table1-secondary>th {
    background-color: #d6d8db
}

.table1-secondary tbody+tbody,
.table1-secondary td,
.table1-secondary th,
.table1-secondary thead th {
    border-color: #b3b7bb
}

.table1-hover .table1-secondary:hover {
    background-color: #c8cbcf
}

.table1-hover .table1-secondary:hover>td,
.table1-hover .table1-secondary:hover>th {
    background-color: #c8cbcf
}

.table1-success,
.table1-success>td,
.table1-success>th {
    background-color: #c3e6cb
}

.table1-success tbody+tbody,
.table1-success td,
.table1-success th,
.table1-success thead th {
    border-color: #8fd19e
}

.table1-hover .table1-success:hover {
    background-color: #b1dfbb
}

.table1-hover .table1-success:hover>td,
.table1-hover .table1-success:hover>th {
    background-color: #b1dfbb
}

.table1-info,
.table1-info>td,
.table1-info>th {
    background-color: #bee5eb
}

.table1-info tbody+tbody,
.table1-info td,
.table1-info th,
.table1-info thead th {
    border-color: #86cfda
}

.table1-hover .table1-info:hover {
    background-color: #abdde5
}

.table1-hover .table1-info:hover>td,
.table1-hover .table1-info:hover>th {
    background-color: #abdde5
}

.table1-warning,
.table1-warning>td,
.table1-warning>th {
    background-color: #ffeeba
}

.table1-warning tbody+tbody,
.table1-warning td,
.table1-warning th,
.table1-warning thead th {
    border-color: #ffdf7e
}

.table1-hover .table1-warning:hover {
    background-color: #ffe8a1
}

.table1-hover .table1-warning:hover>td,
.table1-hover .table1-warning:hover>th {
    background-color: #ffe8a1
}

.table1-danger,
.table1-danger>td,
.table1-danger>th {
    background-color: #f5c6cb
}

.table1-danger tbody+tbody,
.table1-danger td,
.table1-danger th,
.table1-danger thead th {
    border-color: #ed969e
}

.table1-hover .table1-danger:hover {
    background-color: #f1b0b7
}

.table1-hover .table1-danger:hover>td,
.table1-hover .table1-danger:hover>th {
    background-color: #f1b0b7
}

.table1-light,
.table1-light>td,
.table1-light>th {
    background-color: #fdfdfe
}

.table1-light tbody+tbody,
.table1-light td,
.table1-light th,
.table1-light thead th {
    border-color: #fbfcfc
}

.table1-hover .table1-light:hover {
    background-color: #ececf6
}

.table1-hover .table1-light:hover>td,
.table1-hover .table1-light:hover>th {
    background-color: #ececf6
}

.table1-dark,
.table1-dark>td,
.table1-dark>th {
    background-color: #c6c8ca
}

.table1-dark tbody+tbody,
.table1-dark td,
.table1-dark th,
.table1-dark thead th {
    border-color: #95999c
}

.table1-hover .table1-dark:hover {
    background-color: #b9bbbe
}

.table1-hover .table1-dark:hover>td,
.table1-hover .table1-dark:hover>th {
    background-color: #b9bbbe
}

.table1-active,
.table1-active>td,
.table1-active>th {
    background-color: rgba(0, 0, 0, .075)
}

.table1-hover .table1-active:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table1-hover .table1-active:hover>td,
.table1-hover .table1-active:hover>th {
    background-color: rgba(0, 0, 0, .075)
}

.table1 .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55
}

.table1 .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.table1-dark {
    color: #fff;
    background-color: #343a40
}

.table1-dark td,
.table1-dark th,
.table1-dark thead th {
    border-color: #454d55
}

.table1-dark.table1-bordered {
    border: 0
}

.table1-dark.table1-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .05)
}

.table1-dark.table1-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .075)
}

@media (max-width:575.98px) {
    .table1-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table1-responsive-sm>.table1-bordered {
        border: 0
    }
}

@media (max-width:767.98px) {
    .table1-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table1-responsive-md>.table1-bordered {
        border: 0
    }
}

@media (max-width:991.98px) {
    .table1-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table1-responsive-lg>.table1-bordered {
        border: 0
    }
}

@media (max-width:1199.98px) {
    .table1-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }
    .table1-responsive-xl>.table1-bordered {
        border: 0
    }
}

.table1-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.table1-responsive>.table1-bordered {
    border: 0
}

.mymodal{
    width: 100%;height: 100%; position: fixed;
    top: 0;left: 0;background-color: black;z-index: 1050;
}
.mymodal-content{
    width: 80%;margin: auto;background-color: #fff;
}

.ng2-datetime-picker {
    width: 235px;
}

.days {
    width: 100% !important;
}
