
<div class="card shadow-sm border-0">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
    class="pointer card-header  bg-white" id="headingOne">
    <h3><span style="color: darkmagenta"><b>User</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
  <div class="card-body">
   
    <form [formGroup]="userSearchForm" (ngSubmit)="submituserForm(userSearchForm.value)">
      <div class="row">
        <div class="col-md-6 form-group required-field">
          <label for=userName>User Name</label>
          <input type="text" formControlName="userName" id=userName placeholder="User Name"
            class="form-control form-control-sm">
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="submit" class="btn btn-success customBtn m-2" value="Search">
          <input type="button" class="btn btn-primary customBtn m-2" value="Add User" (click)="onAddUser()">
          <input type="button" class="btn btn-danger customBtn m-2" value="Clear" (click)="userSearchForm.reset()">
        </div>
      </div>
    </form>
  </div>
</div>
</div>
<div *ngIf=showSearchResult>
  <h3 class="mt-3"><span style="color: darkmagenta"><b>Results</b></span></h3>
  <div class="box">
    <div class="table-responsive box-body">
      <table class="table1 table1-bordered table1-striped">
        <thead>
          <tr>
            <th>S.No</th>
            <th>View/Edit</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Desk</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of searchResult;  let i = index">
          <tr>
            <td>{{i + 1}}</td>
            <td>
              <button style="letter-spacing: 1px;"(click)="onViewUser(item.id)" class="btn btn-sm btn-warning"><i class="fa fa-eye"></i> / <i
                  class="fa fa-pencil"></i></button>
            </td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.userName}}</td>
            <td>{{deskMap.get(item.deskId)}}</td>
            <td>{{item.roles}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
