<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Product Master
    </h1>
    <ol class="breadcrumb">
      <li><a href="layout/welcome"><i class="fa fa-home"></i>Welcome</a></li>
      <li><a href="layout/productMaster"><i class="fa fa-cogs"></i>Product Master</a></li>
    </ol>
  </section>
  <section class="content">
    <div *ngIf="showSearch" id="productMasterSearch" class="panel-collapse collapse in show">
      <app-product-master-search (itemFound)="hideSearch($event)">
      </app-product-master-search>
    </div>
    <div *ngIf="!showSearch" id="productMasterEdit" class="panel-collapse collapse in show">
      <app-product-master-edit [productMasterId]="productMasterId">
      </app-product-master-edit>
    </div>
  </section>
</div>
