
<div class="card shadow-sm border-0">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
    class="pointer card-header  bg-white" id="headingOne">
    <h3 class="padding"><span style="color: darkmagenta"><b>{{title}} Master Data</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">

      <form [formGroup]="masterDataEditForm" (ngSubmit)="submitMasterDataEditForm(masterDataEditForm.value)">
        <div class="row padding">
          <div class="col-xs-3 form-group required-field">
              <label for=code>Code</label>
              <input type="text" formControlName="code" id=code placeholder="Code" class="form-control form-control-sm"
                maxlength="23" oninput="this.value = this.value.toUpperCase()" required>
          </div>
          <div class="col-xs-3 form-group required-field">
              <label for=description>Description</label>
              <input type="text" formControlName="description" id=description placeholder="Description"
                class="form-control form-control-sm" required>
          </div>

          <div class="col-xs-3 form-group">
              <label for=activeDt>Current Date</label>
              <input class="form-control" id=activeDt placeholder="Current Date" bsDatepicker formControlName="activeDt"
                [bsConfig]="globals.dateConfig">
          </div>
          <div class="col-xs-3 form-group">
              <label for=expireDt>Expire Date</label>
              <input class="form-control" id=expireDt placeholder="Expire Date" bsDatepicker formControlName="expireDt"
                [bsConfig]="globals.dateConfig">
          </div>

          <div class="col-xs-3 form-group">
              <label for=notes>Notes</label>
              <input type="text" formControlName="notes" id=notes placeholder="Notes"
                class="form-control form-control-sm">
          </div>

          <div class="col-xs-3 form-group">
              <label for=displaySeq>Display Sequence</label>
              <input type="number" formControlName="displaySeq" id=displaySeq placeholder="Display Sequence"
                class="form-control form-control-sm">
          </div>
        </div>
        <div class="row center">
          <div class="col-md-12 text-center">
            <div class="form-group">
              <input type="submit" class="btn btn-primary customBtn" value="Submit"
                [disabled]="!masterDataEditForm.valid">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf=showMasterDataList>
  <h3 class="mt-3"><span style="color: darkmagenta"><b>List of MasterData</b></span></h3>
  <div class="box">
    <div class="table-responsive box-body">
      <table class="table1 table1-bordered table1-striped">
        <thead>
          <tr>
            <th>Edit</th>
            <!-- <th>Delete</th> -->
            <th>Category</th>
            <th>Code</th>
            <th>Description</th>
            <th>Current Date</th>
            <th>Expiry Date</th>
            <th>Notes</th>
            <th>Display Sequence</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of masterDataList, let i = index">
          <tr>
            <td>
              <button [disabled]="item.isUserGenerated === 'N'"  (click)="onViewMasterData(i)" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></button>
            </td>
            <td>{{item.category}}</td>
            <td> {{item.code}}</td>
            <td>{{item.description}}</td>
            <td>{{item.activeDt  | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="item.expireDt"> {{item.expireDt  | date: 'dd/MM/yyyy'}}</td>
            <td *ngIf="!item.expireDt"> No Expiry Date</td>
            <td *ngIf="item.notes">{{item.notes}}</td>
            <td *ngIf="!item.notes"> No Notes Given</td>
            <td>{{item.displaySeq}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
