<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Update Inventory Status
        </h1>
        <ol class="breadcrumb">
            <li><a href="layout/welcome"><i class="fa fa-home"></i>Welcome</a></li>
        </ol>
    </section>


    <section class="content">
        <form [formGroup]="productDetailForm" (ngSubmit)="saveBarCodeDetails(productDetailForm.value)">
            <div class="row">
                <div class="col-md-4 form-group required-field">
                    <label for="productMasterId">Select Product</label>
                    <select class="form-control" id="productMasterId" formControlName="productMasterId"
                            (change)="onChangeProduct($event.target['value'])" required>
                        <option value=null disabled selected>Select Product</option>
                        <option *ngFor="let product of productMasterLists" [value]="product.key">
                            {{product.value}}
                        </option>
                    </select>
                </div>

                <div class="col-md-4 required-field">
                    <label for="product">Select Product Barcode</label>
                    <angular2-multiselect [data]="dropdownProductList" [(ngModel)]="selectedItems" id="product"
                                          [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                                          (onSelect)="OnItemSelectPart($event)">
                    </angular2-multiselect>
                </div>


            </div>

            <div *ngIf="showProductDetailsRow">
                <div class="row">
                    <div class="col-md-4 form-group required-field">
                        <label for="finalStatus">Final Status</label>
                        <select class="form-control" id="finalStatus" formControlName="finalStatus"
                                (change)="onChangeFinalStatus($event.target['value'])" required>
                            <option value=null disabled selected>Select Final Status</option>
                            <option *ngFor="let finalSt of finalStatusValue | keyvalue" [value]="finalSt.key">
                                {{finalSt.value}}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-4 form-group ">
                        <label for="customerName">Customer Name</label>
                        <input type="text" class="form-control  form-control-sm" id=customerName
                               placeholder="Enter Customer Name"
                               formControlName="customerName" maxlength="100" >
                    </div>
                    <div class="col-md-4 form-group ">
                        <label for="remarks">Remarks</label>
                        <input type="text" class="form-control  form-control-sm" id=remarks
                               placeholder="Enter To Remarks"
                               formControlName="remarks" maxlength="500" >
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Update Product"
                                   [disabled]="!productDetailForm.valid">
                            &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </section>

</div>



