<div mat-dialog-content>
  <form [formGroup]="propAttributesDialog" (ngSubmit)="submitPropAttributesForm(propAttributesDialog.value)">
    <h4>Prop Attributes Add/Edit</h4>
    <div class="row">


      <div class="col-md-6 form-group required-field">
        <label for=label>Label</label>
        <select class="form-control form-control-sm" formControlName="label" id=label required>
          <option value='null' disabled selected>Select Label</option>
          <option *ngFor="let label of productLabelValue | keyvalue" [value]="label.key">
            {{label.value}}
          </option>
        </select>
      </div>


      <div class="col-md-6 form-group required-field">
        <label for="value">Value</label>
        <input type="number" formControlName="value" id=value onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;" placeholder="Value"
               class="form-control form-control-sm" required>
      </div>



      <div class="col-md-6 form-group">
        <label for=unit>Unit</label>
        <select class="form-control form-control-sm" formControlName="unit" id=unit>
          <option value='null' disabled selected>Select Unit</option>
          <option *ngFor="let unit of unitValue | keyvalue" [value]="unit.key">
            {{unit.value}}
          </option>
        </select>
      </div>

      <div class="col-md-6 form-group">
        <label for="remarks">Remarks</label>
        <input type="text" formControlName="remarks" id=remarks maxlength="200" placeholder="Remarks"
               class="form-control form-control-sm">
      </div>

      <div class="col-md-12 text-center">
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Submit" [disabled]="!propAttributesDialog.valid">
          &nbsp;&nbsp;
          <input type="button" class="btn btn-danger" (click)="onNoClick()" value="Cancel">
        </div>
      </div>
    </div>
  </form>
</div>
