<div class="wrapper">
  <!-- Main Header -->
  <div class="appheader">
    <app-starter-header></app-starter-header>
  </div>
  <div class="appbody">
    <!-- Left side column. contains the logo and sidebar -->
    <app-starter-left-side></app-starter-left-side>
    <!-- Content Wrapper. Contains page content -->
    <router-outlet></router-outlet>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <app-starter-footer></app-starter-footer>
    <!-- Control Sidebar -->
    <app-starter-control-sidebar></app-starter-control-sidebar>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  
</div>
