
<div class="card shadow-sm border-0">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
    class="pointer card-header  bg-white" id="headingOne">
    <h3><span style="color: darkmagenta"><b>{{title}} Master Category</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">

      <form [formGroup]="masterCategoryEditForm" (ngSubmit)="duplicateCheck(masterCategoryEditForm.value)">
        <div class="row">
          <div class="col-md-6  form-group required-field">
            <label for=category>Category</label>
            <input type="text" formControlName="category" id=category placeholder="Category" maxlength="23"
              class="form-control form-control-sm" oninput="this.value = this.value.toUpperCase()" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12  text-center">
            <input type="submit" class="btn btn-success customBtn" value="Submit"
              [disabled]="!masterCategoryEditForm.valid">
          </div>
        </div>
      </form>
      <div *ngIf=showTabs>
        <div class=box>
          <ul class="nav nav-tabs side_nav" role="tablist">
            <li *ngFor="let tabName of masterDataDetailsTab; let first = first;" [ngClass]="{firstItem: first}"
              role="presentation" class="accounts_li" [class.active]="selectedTab===tabName">
              <a (click)="selectedTab = tabName" aria-controls="one" role="tab" data-toggle="tab">{{tabName}}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div *ngIf="selectedTab === masterDataDetailsTab[0]" role="tabpanel" class="tab-pane active">
              <app-masterdata></app-masterdata>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
