<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    Coimbatore, India
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2019 <a href="http://www.qqsworld.com/">Jewel Inventory</a>.</strong> All rights reserved.
</footer>
