<div class="card shadow-sm border-0">
    <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
         class="pointer card-header  bg-white" id="headingOne">
        <h3><span style="color: darkmagenta"><b>{{ title }} Product Master</b></span></h3>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <form [formGroup]="ProductMasterEditForm" (ngSubmit)="duplicateCheck(ProductMasterEditForm.value)">
                <div class="row">
                    <div class="col-md-6 form-group required-field">
                        <label for=name>Product Name</label>
                        <input type="text" formControlName="name" id=name placeholder="Enter Product Name"
                               class="form-control form-control-sm" required maxlength="100">
                    </div>
                    <div class="col-md-6 form-group required-field">
                        <label for=status>Status</label>
                        <select class="form-control form-control-sm" formControlName="status" id=status required>
                            <option value='null' disabled selected>Select Status</option>
                            <option *ngFor="let active of statusValue | keyvalue" [value]="active.key">
                                {{active.value}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group required-field">
                        <label for=barCodeChar>Barcode Begin Number</label>
                        <input type="text" formControlName="barCodeChar" id=barCodeChar placeholder="Enter Barcode Being Number"
                               class="form-control form-control-sm" required maxlength="20">
                    </div>
                    <div class="col-md-6 form-group ">
                        <div class="col-sm-4  form-group ">
                            <label>Browse Image to Upload</label><br>
                            <label class="btn-bs-file btn btn-warning">
                                Browse
                                <input type="file" (change)="onFileChange($event)" onclick="this.value=null" required/>
                            </label>
                            {{selectedFileName}}
                        </div>
                        <div class="col-sm-4  form-group">
                            <br>
                            <br>
                            <a href="javascript:void(0)" (click)="getFile(productFileName)">{{productFileName}}</a>
                        </div>
                    </div>
                </div>


                <div>
                    <h3><span class="color-magenta"><b>Prop Attributes</b></span></h3>
                    <div class="box">
                        <a (click)="openAddPropAttributesDialog()" class="btn btn-info add-btn-top"><i
                                class="fa fa-plus"></i></a>
                        <div class="table-responsive box-body">
                            <table class="table1 table1-bordered table1-striped">
                                <thead>
                                <tr>
                                    <th>Open</th>
                                    <th>Label</th>
                                    <th>Value</th>
                                    <th>Unit</th>
                                    <th>Remarks</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let propAttributes of propAttributesList ; let i = index">
                                    <td class="action-col">
                        <span>
                          <button (click)="openEditPropAttributesDialog(propAttributes,i)"
                                  [disabled]="propAttributes.isDeleted" type=button class="btn btn-sm btn-warning"
                                  style="letter-spacing: 1px;"><i
                                  class="fa fa-eye"></i> / <i class="fa fa-pencil"></i></button>
                        </span>
                                    </td>
                                    <td>{{propAttributes.label}}</td>
                                    <td>{{propAttributes.value}}</td>
                                    <td>{{propAttributes.unit}}</td>
                                    <td>{{propAttributes.remarks}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="submit" class="btn btn-success customBtn" id="submit" value="Submit"
                               [disabled]="!ProductMasterEditForm.valid">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
