
.leading {
  padding-bottom :  10px;
}

.btn-bs-file{
  position:relative;
}
.btn-bs-file input[type="file"]{
  position: absolute;
  top: -9999999;
  filter: alpha(opacity=0);
  opacity: 0;
  width:0;
  height:0;
  outline: none;
  cursor: inherit;
}

div.invalid-input{
  font-weight: 200;
  font-size: 10px;
  color: red;
}
div.required-field label::after {
  content: "*";
  color: red;
}
