
<div class="card shadow-sm border-0">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
       class="pointer card-header  bg-white" id="headingOne">
    <h3><span style="color: darkmagenta"><b>{{ title}} Desk</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">

      <form [formGroup]="deskEditForm" (ngSubmit)="submitDesk(deskEditForm.value)">
        <div class="row mb-2">
          <div class="col-md-3 required-field">
            <label for=name>Desk Name</label>
            <input type="text" formControlName="name" id=name placeholder="Enter New Desk Name"
                   class="form-control form-control-sm" maxlength="100" required>
          </div>
          <div class="col-md-3 required-field">
            <label for=description>Desk Description</label>
            <input type="text" formControlName="description" id=description placeholder="Enter Desk Description"
                   class="form-control form-control-sm" maxlength="500" required>
          </div>

          <div class="col-md-3 form-group required-field">
            <label for=status>Active</label>
            <select class="form-control form-control-sm" formControlName="status" id=status required>
              <option value=null disabled selected>Select Active</option>
              <option *ngFor="let active of activeStatusMap | keyvalue" [value]="active.key">
                {{active.value}}
              </option>
            </select>
          </div>

          <div class="col-md-3 form-group required-field">
            <label for=deskType>Desk Type</label>
            <select class="form-control form-control-sm" formControlName="deskType" id=deskType required>
              <option value=null disabled selected>Select Desk Type</option>
              <option *ngFor="let deskType of deskTypesMap | keyvalue" [value]="deskType.key">
                {{deskType.value}}
              </option>
            </select>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <input type="submit" class="btn btn-success customBtn m-2" value="Submit"
                   [disabled]="!deskEditForm.valid">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

