h3 {
  font-style: normal;
  color: #3d3d3d;
}
$navbar-height: 58px;
$side-menu-width: 250px;

.body-content {
  margin-top: $navbar-height;
}
.lightblue {
  color: lightblue;
}
.red {
  color: red;
}
.faded {
  opacity: 0.2;
}
.faded:hover {
  opacity: 0.5;
}

section {
  margin: 0;
}


.panel-wm {
  padding-top: $navbar-height;

  .nav-stacked {
    padding-bottom: 30px;

    .nav-item {
      width: 100%;
    }
  }

  .nav > li > a {
    padding: 10px 15px;
    border-radius: 0;
  }

  .panel-wm-content {
    padding-left: ($side-menu-width + 5px);
    padding-right: 15px;
  }

  .panel-wm-left {
    position: fixed;
    z-index: 400;
    transition: left 0.15s;
    top: calc(#{$navbar-height});
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    transform: translate3d(0, 0, 0);
    border-right: 1px solid #d0d0d0;
    overflow-y: auto;
    width: $side-menu-width;
  }
}
