<div class="card border-0 shadow-sm">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="pointer card-header  bg-white" id="headingOne">
    <h3><span style="color: darkmagenta"><b>Search</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">

        <form [formGroup]="searchForm" (ngSubmit)="submitForm(searchForm.value)">
          <div class="row">
            <div class="col-md-4 form-group required-field">
              <label for="reportFromDate">Report From Date</label>
              <input type="text" class="form-control" placeholder="Report From Date" id=reportFromDate bsDatepicker
                     formControlName="reportFromDate" [bsConfig]="globals.dateConfig" required>
            </div>

            <div class="col-md-4 form-group required-field">
              <label for="reportToDate">Report To Date</label>
              <input type="text" class="form-control" placeholder="Report To Date" id=reportToDate bsDatepicker
                     formControlName="reportToDate" [bsConfig]="globals.dateConfig" required>
            </div>

            <div class="col-md-4 form-group ">
              <label>Select Product</label>
              <angular2-multiselect [data]="dropProductMasterList" [(ngModel)]="productMasterId"
                                    [ngModelOptions]="{standalone: true}" [settings]="productDropdownSettings"
                                    (onDeSelect)="OnItemDeSelectProduct($event)">
              </angular2-multiselect>
            </div>
          </div>
          <div *ngIf="reportType === 'inventoryTransactions'" class="row">
            <div class="col-md-4 form-group ">
              <label>Select Inventory Status</label>
                <select class="form-control form-control-sm" formControlName="inventoryStatus" id=inventoryStatus>
                  <option value="ALL">Select Inventory Status</option>
                  <option value="START">START</option>
                  <option value="IN">IN</option>
                  <option value="OUT">OUT</option>
                  <option value="END">END</option>
              </select>
            </div>
            <div class="col-md-4 form-group ">
              <br/><br/><label for="showOnlyLatest">
              <input type="checkbox" formControlName="showOnlyLatest" [checked]="false" value="Y" id = "showOnlyLatest" />&nbsp;&nbsp;
              Show only Latest</label>
            </div>
          </div>

          <div class="col-md-12 form-group align-content-end float-right">
              <input type="submit" class="btn btn-success" value="Search" [disabled]="!searchForm.valid">
              &nbsp;&nbsp;
              <input type="button" class="btn btn-danger" value="Clear" (click)="resetForm()">
            </div>
        </form>
    </div>
  </div>
</div>
