<div class="login-page">
  <div class="center">
    <div class="col-md-4">
      <img src="assets/images/QQS-Logo.png" width="250px"/>
      <h1>{{applicationDisplayName}}</h1>
      <h1>You have been logged out. Please close browser windows.</h1>
    </div>
  </div>
</div>
