/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*body {*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-content: stretch;*/
  /*align-items: stretch;*/
  /*height: 100vh;*/
/*}*/

app-root {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
  background: whitesmoke;
}
