<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Master Category
    </h1>
    <ol class="breadcrumb">
      <li><a href="layout/welcome"><i class="fa fa-home"></i>Welcome</a></li>
      <li><a href="layout/mastercategory"><i class="fa fa-cogs"></i>Master Category</a></li>
    </ol>
  </section>
  <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="showSearch" id="mastercategorySearch" class="panel-collapse collapse in show">
              <app-mastercategory-search (itemFound)="hideSearch($event)">
              </app-mastercategory-search>
            </div>
            <div *ngIf="!showSearch" id="mastercategoryEdit" class="panel-collapse collapse in show">
              <app-mastercategory-edit [masterCategoryId]="masterCategoryId">
              </app-mastercategory-edit>
            </div>
          </div>
        </div>
  </section>
</div>
