
<div class="card shadow-sm border-0">
  <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
    class="pointer card-header  bg-white" id="headingOne">
    <h3><span style="color: darkmagenta"><b>{{title}} User</b></span></h3>
  </div>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
  <div class="card-body">
      
      <form [formGroup]="userEditForm" (ngSubmit)="duplicateCheck(userEditForm.value)">

        <div class="row">
          <div class="col-md-6 form-group required-field">
            <label for=firstName>First Name</label>
            <input type="text" formControlName="firstName" id=firstName placeholder="First Name"
              class="form-control form-control-sm" required>
          </div>
          <div class="col-md-6 form-group required-field">
            <label for=lastName>Last Name</label>
            <input type="text" formControlName="lastName" id=lastName placeholder="Last Name"
              class="form-control form-control-sm" required>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6 form-group required-field">
            <label for="roles">Roles</label>
            <select class="form-control form-control-sm" formControlName="roles" id=roles required>
              <option *ngFor="let role of rolesMap | keyvalue" [value]="role.value">
                {{role.value}}
              </option>
            </select>
          </div>

          <div class="col-md-6 form-group required-field">
            <label for=active>Active</label>
            <select class="form-control form-control-sm" formControlName="active" id=active required>
              <option value="" disabled selected>Select Active</option>
              <option *ngFor="let active of activeTypeValue | keyvalue" [value]="active.key">
                {{active.value}}
              </option>
            </select>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6 form-group ">
            <label for="deskId">Desk</label>
            <select class="form-control form-control-sm" formControlName="deskId" id=deskId >
              <option value="0">Select Desk</option>
              <option *ngFor="let desk of deskMap | keyvalue" [value]="desk.key">
                {{desk.value}}
              </option>
            </select>
          </div>

          <div class="col-md-6 form-group required-field">
            <label for=userName>User Name</label>
            <input type="text" formControlName="userName" id=userName placeholder="User Name" disabled
                   class="form-control form-control-sm" required>
          </div>
        </div>

        <div class="row">

          <div *ngIf="showPassword" class="col-md-6 form-group required-field">
            <label for=pwd>Password (6-12 character)</label>
            <input type="password" formControlName="pwd" id=pwd placeholder="Password" minlength="6" maxlength="12"
                   value="Password" class="form-control form-control-sm">
          </div>

        </div>

        <div class="row mb-2 mt-2">
          <div class="col-md-12 text-center">
            <input type="submit" class="btn btn-success customBtn" value="Submit" [disabled]="!userEditForm.valid">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
