<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {{reportTitle}} Report
    </h1>
    <ol class="breadcrumb">
      <li><a href="layout/welcome"><i class="fa fa-home "></i>Welcome</a></li>
      <li><a href="layout/report"><i class="fa fa-line-chart"></i>Report</a></li>
    </ol>

    <div>
      <app-grid-search
        (itemFound)="showResults($event)">
      </app-grid-search>
    </div>
    <div *ngIf="showGrid" class="card shadow-sm border-sm mt-3">
      <div class="card-body">
        <div class="container-fluid p-0" >
          <div id="dataTableContainer" class="container-fluid dataTables_scroll">
            <table id="gridTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="cell-border table1 row-border hover stripe">
              <thead>
                <ng-container *ngIf="!multiHeader">
                  <tr>
                    <th *ngFor="let item of columns" >{{item.title}}</th>
                  </tr>
                </ng-container>
                <ng-container *ngIf="multiHeader">
                  <tr>
                  <ng-container *ngFor="let item of columns">
                      <th *ngIf="item.rowspan > 1 || item.colspan > 1" [rowSpan]="item.rowspan" [colSpan]="item.colspan" class="text-center">
                        {{item.groupTitle}}
                      </th>
                  </ng-container>
                  </tr>
                  <tr>
                  <ng-container *ngFor="let item of columns">
                      <th *ngIf="item.rowspan === 1">{{item.title + ' ' + item.firstRowHeader}}</th>
                  </ng-container>
                  </tr>
                </ng-container>
              </thead>
              <tfoot *ngIf="footerDisplay">
                <tr>
                  <th *ngFor="let item of columns" [ngClass]=" item.total ? ' text-right total': 'text-right'" ></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <div id="jobTransactionDiv" style="display: none">
        <table id="jobTransactionTabble" class="cell-border table1 row-border hover stripe">
          <thead>
            <tr>
              <th>Date</th>
              <th>Desk</th>
              <th>Job Type</th>
              <th>Status</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody id="jobTransactionTBody">

          </tbody>
        </table>
      </div>
    </div>


  </section>

  
</div>


